.header {
    background-color: #FFFF74;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    z-index: 1000;
  }
  
  .header a {
    color: #fff;
    text-decoration: none;
    line-height: 64px;
    padding: 0 20px;
  }